{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1 align="center">Kočičí Chat</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in notes %}
    <li class="list-group-item">
        <div class="note-container">
                <img src="{{ url_for('static', filename='avatars/' + (note.user.avatar if note.user.avatar else 'default_avatar.png')) }}"alt="Avatar" class="avatar-img" data-name="{{ note.user.first_name }}">
            </div>
            <div class="note-content">
                <strong class="user-name">{{ note.user.first_name }}</strong>
                
                <p>{{ note.data }}</p>
            </div>
        
    </li>
    
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Odeslat</button>
    </div>
</form>
{% endblock %}
