{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<h1 align="center">Kočičí Chat</h1>
<div class="signup-container">
  <form method="POST" class="signup-form">
    <h3 align="center">Přihlaš se</h3>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Zadej e-mail."
      />
    </div>
    <div class="form-group">
      <label for="password1">Heslo</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Zadej kočičí heslo, mňau!"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
  {% endblock %}
